.container{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    border-bottom: 1px solid black;
    margin: 0 auto;
    margin-top: 55px;;
    width: 100%;
}

.date{
    font-size: min(max(1rem, 4vw), 22px);
    color: #B7B7B7;
    font-family: Karla;
    font-weight: 400;
}

.title{
    font-size: min(max(2rem, 4vw), 45px);
    color: black;
    font-family: Mulish;
    font-weight: 700;
    margin-top: 10px;
}

.excerpt{
    margin-top: 20px;
    font-size: min(max(.6rem, 4vw), 22px);
    color: #4E4E4E;
    font-family: Karla;
    font-weight: 400;
}