.contentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0 auto;
    margin-top: 30px;
    width: auto;
    max-width: 950px;
}
.heroText{
    font-family: Mulish;
    font-weight: 800;
    font-size: min(max(1.1rem, 4vw), 42px);
    margin-top: 10px;
    width: 100%;
    text-align: center;
 
}

.heroImage{
    height: auto;
    width: auto;
    max-width: 500px;
    margin: 0 auto;
}

.bio{
    margin-top: 20px;;
    margin-bottom: 20px;;
    font-family: Karla;
    text-align: left;
font-style: normal;
font-weight:400;
font-size: min(max(.8rem, 2vw), 23px);/* or 19px */
background: #F9F9F9;
border-radius: 2px;color:
 #000000;
padding: 40px;;
}