.navContainer{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    width: auto;
    max-width: 950px;
    margin: 0 auto;


}

.navButton{
    text-align: center;
    align-self: center;
    color: white;
    width: 55px;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    font-family: Karla;
    background: #000000;
    border-radius: 3px;
}
.logo{
    font-family: Karla;
    font-weight: 700;
    color: black;
    font-size: 30px;
    align-self: center;
    text-decoration: none;
}